/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
☝☝☝☝☝☝☝☝☝☝ 
    CSS RESET
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display);

body {
    background-color: #F4F4F9;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

div {
    box-sizing: border-box;
}

.container .header {
    background-color: #ffffff;
    height: 132px;
    display: flex;
    align-items: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}

.container .header .logo {
    position: fixed;
    left: 60px;
}

.container .header .title {
    position: fixed;
    left: 0;
    right: 0;
}

.container .header .title h1 {
    color: #3B3C6C;
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.container .loginBox {
    background-color: #ffffff;
    width: 500px;
    height: 580px;
    margin-top: 227px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25), inset 0px 4px 4px rgba(0, 0, 0, .25);
}

.container .loginBox .loginTitle {
    margin-top: 64px;
}

.container .loginBox .loginTitle h2 {
    color: #3B3C6C;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.container .loginBox .userBox {
    background-color: #ffffff;
    width: 400px;
    height: 60px;
    margin-top: 80px;
    align-items: center;
    display: flex;
    position: relative;
}

.container .loginBox .userBox .inputUser {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-color: #CBCBCBCB;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    align-items: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-left: 32px;
    padding-right: 32px;
}

.container .loginBox .userBox .inputUserLabel {
    position: absolute;
    left: 32px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: #ffffff;
}

.inputUser:focus ~ .inputUserLabel,
.inputUser:not(:placeholder-shown).inputUser:not(:focus) ~ .inputUserLabel {
    display: none;
}

.container .loginBox .pwBox {
    background-color: #ffffff;
    width: 400px;
    height: 60px;
    margin-top: 60px;
    align-items: center;
    display: flex;
    position: relative;
}

.container .loginBox .pwBox .inputPw {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-color: #CBCBCBCB;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    align-items: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-left: 32px;
    padding-right: 32px;
}

.container .loginBox .pwBox .inputPwLabel {
    position: absolute;
    left: 32px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: #ffffff;
}

.inputPw:focus ~ .inputPwLabel,
.inputPw:not(:placeholder-shown).inputPw:not(:focus) ~ .inputPwLabel {
    display: none;
}

.container .loginBox .submitBtn {
    background-color: #FF2667;
    width: 400px;
    height: 60px;
    margin-top: 60px;
    border-width: 2px;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.container .loginBox .submitBtn:hover {
    background-color: #FF2667;
    opacity: .8;
    width: 400px;
    height: 60px;
    margin-top: 60px;
    border-width: 2px;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

@media (max-width : 1600px) {
    .container .header .logo {
        left: 50px;
    }
}

@media (max-width : 1400px) {
    .container .header .logo {
        left: 30px;
    }
}

@media (max-width : 1200px) {
    .container .header .logo {
        left: 10px;
    }
}

@media (max-width : 1020px) {
    .container .header .logo {
        display: none;
    }
}